%ul
  %li= link_to("e4Chat Voice Chat", "http://www.e4chat.com")
  %li= link_to("Personal Home page", "http://www.wolfman.com")
%a{ :href => "http://www.linkedin.com/in/e4net"}
  %img{ :src => "http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.gif", :width => "160", :height => "33", :border => "0", :alt =>"View Jim Morris's profile on LinkedIn"}
