%h3.sidebar-title Ads
.static-body
  :plain
    <script type="text/javascript"><!--
    google_ad_client = "pub-9145025475376756";
    /* 120x600, blog */
    google_ad_slot = "5272705213";
    google_ad_width = 120;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>

    <script type="text/javascript"><!--
    google_ad_client = "pub-9145025475376756";
    /* 120x90, blog */
    google_ad_slot = "3481762934";
    google_ad_width = 120;
    google_ad_height = 90;
    //-->m
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>

    <script type="text/javascript"><!--
        google_ad_client = "pub-9145025475376756";
    /* 120x600, blog2 */
    google_ad_slot = "2814292848";
    google_ad_width = 120;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>

    <script type="text/javascript"><!--
    google_ad_client = "pub-9145025475376756";
    /* 120x90, blog */
    google_ad_slot = "3481762934";
    google_ad_width = 120;
    google_ad_height = 90;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>

    <script type="text/javascript"><!--
    google_ad_client = "pub-9145025475376756";
    /* 120x600, blog2 */
    google_ad_slot = "2814292848";
    google_ad_width = 120;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>

    <script type="text/javascript"><!--
    google_ad_client = "pub-9145025475376756";
    /* 120x90, blog */
    google_ad_slot = "3481762934";
    google_ad_width = 120;
    google_ad_height = 90;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>

    <!-- Amazon ads -->
    <iframe src="http://rcm.amazon.com/e/cm?t=blogwolfmanco-20&o=1&p=21&l=ur1&category=computers_accesories&banner=08QR8Z1NWA9KNW3YDW82&f=ifr" width="125" height="125" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    <iframe src="http://rcm.amazon.com/e/cm?t=blogwolfmanco-20&o=1&p=20&l=ur1&category=software&banner=0ZZ80JGFSVK16HQFJMG2&f=ifr" width="120" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    <iframe src="http://rcm.amazon.com/e/cm?t=blogwolfmanco-20&o=1&p=20&l=ur1&category=electronics&banner=1VDPFXG4JXWABYY6R8R2&f=ifr" width="120" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    <iframe src="http://rcm.amazon.com/e/cm?t=blogwolfmanco-20&o=1&p=29&l=ur1&category=game_downloads&banner=1R7B1N4E97Z234TK4G82&f=ifr" width="120" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
