.sidebar-node
  %h3 Contact
  :javascript
    var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
    "harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
    "\\\\,l=x.length;for(i=0;i<l;i++){if(i==67)y+=i;y%=127;o+=String.fromCharCod" +
    "e(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\'+&3*-'>e;?';5=<{vi7w0+?=a\\\\"+
    "\\\\001|2\\\\\\\\001\\\\\\\\010\\\\\\\\016\\\\\\\\027\\\\\\\\013_\\\\\\\\01" +
    "3\\\\\\\\010\\\\\\\\032\\\\\\\\033\\\\\\\\003\\\\\\\\030,\\\\\\\\032\\\\\\\\"+
    "001\\\\\\\\003\\\\\\\\026\\\\\\\\034\\\\\\\\023\\\\\\\\035Z\\\\\\\\026\\\\\\"+
    "\\031\\\\\\\\032$[Z\\\\\\\\017\\\\\\\\025\\\\\\\\t\\\\\\\\022e<^!Gio) l9!o5" +
    "<3:8u;2\\\\\\\\004{d\\\\\\\\01093:\\\\\\\\177%,\\\\\\\\003\\\\\\\\n\\\\\\\\" +
    "010E\\\\\\\\022\\\\\\\\010H#\\\\\\\\003\\\\\\\\006L \\\\\\\\001\\\\\\\\035\\"+
    "\\\\\\002\\\\\\\\030\\\\\\\\001O[\\\\\\\\024HUQBJ@\\\"\\\\,67)\\\"(f};)lo,0" +
    "(rtsbus.o nruter};)i(tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac};l=+l;x=+x{" +
    "yrt{)35=!)31/l(tAedoCrahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i rav{)x(f no" +
    "itcnuf\")"                                                                   ;
    while(x=eval(x));

  :plain
    <object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" height="85" width="230"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton"><param name="wmode" value="transparent"><param name="FlashVars" value="id=eaeee2bca751730df55792201982ec8da034eede&amp;style=0"></object>

  %p 
    :markdown
      _I am available for contract work_
