.sidebar-node
  %h3 Index of Articles
  %div{ :style => "height:400px;width:250px;overflow:scroll;" }
    %ul
      - for post in @index_of_posts
        %li
          = link_to(post.title, permalink(post))
          %br/
