%h3.sidebar-title Article Index
.static-body
  %div{ :style => "height:400px;width:250px;overflow:scroll;" }
    %ul
      - for post in @index_of_posts
        %li
          = link_to(post.title, url(:post, post))
          %br/
