.sidebar-node
  %h3 Links
  %ul
    %li= link_to("e4Chat Voice Chat", "http://www.e4net.com")
    %li= link_to("Personal Home page", "http://www.wolfman.com")
    %li= link_to("Facebook", "http://www.facebook.com/people/Jim-Morris/679984614")
    %li= link_to("Github", "http://github.com/wolfmanjm")

  %a{ :href => "http://www.linkedin.com/in/e4net"}
    %img{ :src => "http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.gif", :width => "160", :height => "33", :border => "0", :alt =>"View Jim Morris's profile on LinkedIn"}
