.sidebar-node
  %h3 Syndicate via RSS
  .feeds
    %ul{ :id => "syndicate" }
      %li= link_to('Articles', url(:posts, :format => 'rss'))
      %li= link_to('Comments', url(:comments, :format => 'rss'))
