%p= text_field :title, :label => "Title"
%p~ text_area  :body, :label => "Body", :rows => 40, :cols => 80
%p= text_field :categories_csv, :label => "Categories"
%p= text_field :tags_csv, :label => "Tags"
